{% extends "base.html" %}

{% block title %} About DearQwerty {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span8 offset2">
			<h1>About</h1>
			<p class="lead">
				This summer I set two goals: to keep a journal chronicling both my personal life and my journey as a software developer, and to learn Javascript. DearQwerty is the offspring of both. In addition to nicely organized journal entries, I've found that it's actually pretty good for taking and keeping organized notes in class, and if you believe <a href="http://david-bieber.tumblr.com/post/30907535147/collapsible-blog-posts">this post</a> from HackerNews, it could have accidentally found its way ahead of the curve in blogging. If you find a bug (and if you spend enough time here, you will, trust me) or if you have a comment or a feature you'd like to see, I'd love to <a href="{{URL_BASE}}/comments/">hear from you.</a> The source code for the site is available over on <a href="https://github.com/astahlman/journal-app">github.</a> 
			</p>
			<p class="lead">
				By the way, if you're looking for a talented, motivated, charming, insightful, witty developer who loves soccer, the Pittsburgh Steelers, great books, burritos and long walks on the beach, check out <a href="{{URL_BASE}}public/cbbfg/">my resume.</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}
