{% extends "base.html" %}

{% block title %}Andrew's App - Read{% endblock %}

{% block content %}
	
	<div class="container">

		<!-- Toolbar includes search bar, next/prev entry, etc.. -->
		<div class="row">
			<div class="span10 offset1">
				<form class="well form-search">
					<input id="searchBar" type="text" class="input-medium search query">
					<a id="searchBtn" class="btn" data-toggle="modal" href="#modalSearch" class="btn btn-primary">Search</a>
					<a id="searchHelpIcon" data-toggle="modal" href="#modalSearchHelp"><i class="icon-question-sign"></i></a>
					<button id="nextEntry" class="btn pull-right">Next Entry<i class='icon-arrow-right'></i></button>
					<button id="prevEntry" class="btn pull-right"><i class='icon-arrow-left'></i>Previous Entry</button>
					<button id="shareEntry" class="btn pull-right">Share <i id='shareIcon' class='icon-globe'></i></button>
					<button id="editEntry" class="btn pull-right">Edit <i class='icon-edit'></i></button>
				</form>
			</div>
		</div>
		<!-- end of toolbar -->
		
		<!-- modal searching, this will normally not be visible -->
		<div class="row">
			<div id="modalSearch" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalSearchLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="modalSearchLabel">Search Results</h3>
				</div>
				<div class="modal-body" id="searchDisplay">
					<!-- NodeSearcherView is responsible for building this.-->
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
		<!-- end of modal search -->
		<!-- modal search help -->
		<div class="row">
			<div id="modalSearchHelp" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalSearchHelpLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="modalSearchLabel">Search Help</h3>
				</div>
				<div class="modal-body" id="searchDisplay">
					<p> You can search based on three criteria:
						<ul>
							<li> Tag name: e.g., '#Appointments' </li>
							<li> Keywords: e.g., 'groceries milk tomorrow' </li>
							<li> Date: 
								<ul> 
									<li>[,12/25/2011] - on or before December 25, 2011</li>
									<li>[12/25/2011] - on December 25, 2011</li>
									<li>[12/25/2011,] - on or after December 25, 2011</li>
									<li>[12/25/2011,12/31/2011] - between December 25, 2011 and December 31, 2011, inclusive</li>
								</ul>
							</li>
						</ul>
				   	</p>
					<p>
						You combine your search criteria with a pipe. (This thing: | ) So putting it all together, let's say we really want to find those notes we took in class the other day in Computer Architecture...</br>
						<h4>#ComputerArchitecture | memory bottleneck cpu | [,8/29/2012] </h4></br>
						<small> Find nodes at or under #ComputerArchitecture that include the words 'memory', 'bottleneck' or 'cpu' that were created on or before August 29, 2012.</small>
					</p>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

		<!-- end of modal search help -->

		<!-- header, viewer and parse table -->
		<div class="row" style="position:relative; top:20px;">
			<div class="span10 offset1">
				<div id="entryHeader">
					<h2 id="creationDateLabel">
						<!-- Insert creationDate here -->
					</h2>
					<h4 id="publicIDLabel">
						<!-- Ex: This entry is private -->
					</h4>
				</div>
				<div id="entryViewerDiv">
				</div>
				<div id="parseErrorsDiv">
					<table id="parseErrorsTable">
					</table>	
				</div>
			</div>
		</div>
		<!-- end of header, viewer and parse table -->

	</div>
{% endblock %}

{% block load_js %}
		<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap-transition.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap-collapse.js"></script>
		<script type="text/javascript" data-main="{{STATIC_URL}}js/read" src="{{STATIC_URL}}js/require.js"></script>
{% endblock %}
