{% extends "base.html" %}

{% block title %}DearQwerty{% endblock %}

{% block extra_css %}
textarea { width : 99%; height : 250px;}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="hero-unit" style="padding: 15px">
			<div class="row">
				<div class="span8">
					<h1>DearQwerty</h1>
					<p>Better note-taking for developers and non-geeks alike. Tag your notes using an intuitive syntax. Define templates that you can reuse later for quick, structured note-taking. Later, find and view only the sections you need. Get a sneak peek below. Once you're convinced, <a href="accounts/register">register</a> for free and start taking better notes today.</p>
				</div>
				<div class="span2">
					{% if user.is_authenticated %}
						<h3>Welcome back, {{ user.username }}.</h3>
						<p><a href="/read_entry">Review</a> your latest entry, or <a href="/write_entry">write</a> entry number {{ num_entries|add:"1" }}.</p>
					{% else %}
						{% include 'login_form.html' %}
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row">
			<div id="splashEditor" class="span6">
				<div class="well">
				{% include 'editor.html' %}
				</div>
			</div>
			<div id="splashViewer" class="span6">
				<div id="entryViewerDiv">
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block load_js %}
		<script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.timer.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap-transition.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap-collapse.js"></script>
		<script type="text/javascript" data-main="{{STATIC_URL}}js/splash" src="{{STATIC_URL}}js/require.js"></script>
{% endblock %}
